<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="v1">+
        <input v-model="v2">
        <button @click="add">=</button>
        <span>{{result}}</span>
        <span>我是一个好人</span>
    </div>
</body>
<script>
    var vm = new Vue({
        el:'#app', //el是必须的
        data:{
            v1:1,
            v2:2,
            result:''
        },
        methods:{
            add:function(){
                this.result = parseInt(this.v1) + parseInt(this.v2)
            }
        }
    })
</script>
</html>